body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #e2fbf9;
  background-color: #333333;
  font-size: small;
  border: 3px solid #ffff;
  color: #eddcff;
  margin: 5px;
  padding: 10px;
  height: 100%;
}

html {
  width: 600px;
  height: 500px;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon {
  cursor: pointer;
  color: #eddcff;
}

.icon:hover {
  text-decoration: underline;
}

.pinkColor {
  color: #eddcff;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

span {
  font-weight: bold;
  color: #eddcff;
}
